/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
*::selection {
  background-color: #e63946;
  color: #fff;
}

body {
  background-color: #f1edd3;
  color: #333;
  line-height: 1.6;
}

li a {
  text-decoration: none;
  color: #333;
}

/* Header and footer styles */
header,
footer {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo,
footer .footer-nav p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e63946;
}
.footer-nav a:hover {
  color: #333;
}

header .logo span,
footer .footer-nav p span {
  color: #333;
}

/* Navigation styles */
nav {
  background-color: #f1edd3;
  padding: 10px;
  border-radius: 50px;
  width: 70%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: space-evenly;
}

nav ul li {
  font-weight: bold;
}

nav ul li a:hover {
  color: #e63946;
}

/* Language and cart icon styles */
.lang {
  color: #e63946;
  font-weight: bold;
}
.lang:hover {
  color: #333;
}
.cart-icon {
  align-items: center;
}

.cart-icon img {
  width: 57.63%;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Product styles */
.product {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  justify-content: center;
}

.product h1 {
  font-weight: normal;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-image {
  display: flex;
  flex-direction: column;
}

.product-image img {
  max-width: 250px;
  border-radius: 8px;
}

.product-details h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Color and size options */
.colors p,
.quantity p {
  margin-bottom: 5px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-options a:hover {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}

.color-options a {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.color-options img {
  width: 20%;
  min-width: 50px;
  min-height: 50px;
}

.sizes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}

.size-options a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fafafa;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
}
.size-options a:hover {
  background-color: #ccc;
}

/* Quantity styles */
.quantity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity .btn {
  width: 75%;
  margin-left: 10px;
}
.quantity .btn:hover {
  background-color: #c72e3e;
}

.quantity input {
  width: 50px;
  padding: 5px;
}

/* Payment methods */
.betaalmethodes p {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.payment-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.payment-options img {
  width: 20%;
  max-height: 50px;
  max-width: 50px;
  margin: auto;
}

/* Button styles */
.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #c72e3e;
}

/* Suggestions styles */
.suggestions-title {
  font-size: small;
  font-weight: bold;
  text-align: center;
  display: none;
}

.suggestions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.suggestion-item {
  text-align: center;
  padding: 15px;
  height: fit-content;
}

.suggestion-item img {
  padding: 0 80px;
  background-color: #fafafa;
  border-radius: 8px;
  height: 50%;
  margin-bottom: 10px;
}

.suggestion-item .Lunchbox {
  padding: 0;
  max-height: 233px;
}

.suggestion-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.suggestion-details div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.suggestion-details p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Bag button styles */
.bag-btn {
  display: flex;
  background-color: #fdc543;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
}
.bag-btn:hover {
  background-color: #f3bd40;
}
.bag-btn img {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
  width: 80%;
  height: 80%;
  min-width: 80%;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  background-color: #f1edd3;
  max-width: 100%;
  max-height: 300px;
  min-height: 20%;
}

.footer-contact,
.footer-nav {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.footer-contact p,
.footer-nav ul {
  margin-bottom: 10px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-weight: bold;
}

.social-icons span {
  margin-right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.social-icons span:hover {
  background-color: #f3bd40;
  border-radius: 50%;
}

.burger {
  display: none;
}

.merch-btn {
  color: #000;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.footer-nav li a {
  color: #e63946;
}

.footer-contact p {
  font-weight: bold;
}

.footer-contact .contact {
  color: #e63946;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  body {
    background-color: #ffffff;
  }
  nav {
    display: none;
  }
  header {
    width: 100%;
    justify-content: center;
  }
  header .logo {
    align-self: center;
  }
  header .logo img {
    width: 40%;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
  .product {
    flex-direction: column;
  }
  .product-image {
    background-color: #fafafa;
    padding: 10px;
  }
  .product-image img {
    align-self: center;
  }
  .product-details {
    background-color: #f1edd3;
    padding: 20px;
  }
  .product-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .color-options {
    width: 100%;
  }
  .suggestion-item p,
  .suggestion-item .price,
  #Bestekpot {
    display: none;
  }
  .suggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .suggestion-item img {
    padding: 0;
    height: 20%;
    max-width: 100%;
  }
  .bag-btn {
    display: none;
  }
  .footer-logo img {
    width: 40%;
    min-width: 100px;
  }
  .footer-logo,
  .footer-contact,
  .footer-nav {
    width: 30%;
    height: 100%;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: end;
    min-height: 150px;
  }
  footer .mail {
    font-size: 12px;
  }
  .suggestions-title {
    display: block;
  }
}
